.resultsContent {
  background-color: #396039;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100dvh;
  text-align: left;
  gap: 16px;
  padding: 0 50px;
  font-family: 'quicksandBook';
}

.spacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;

  .text {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    flex-direction: column;

    h1 {
      font-size: 48px;
      color: #FAF0E6;
      margin-bottom: 8px;
      font-weight: 700;
    }

    p {
      font-size: 24px;
      font-weight: 500;
      color: #FAF0E6;
    }

    .settingIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 12px;

      p {
        color: #396039;
        background-color: #FAF0E6;
        padding: 6px 12px;
        border-radius: 20px;
      }
    }
  }
}

.resultsImg {
  width: 50%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.recipeCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
  width: 100%;
}