.recipeContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  height: 100dvh;
  text-align: center;
  gap: 16px;
  padding: 0 50px;
}

.recipeBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.cookingTime {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 500;
  color: #396039;
  gap: 8px;
}

.chefInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 500;
  color: #396039;
  gap: 8px;
}