.recipeContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: 0 50px;
}

.recipePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFFFFF;
}

.recipeBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 16px;
  width: 94%;
  height: max-content;
  border: 2px solid #FAF0E6;
  border-radius: 20px;
  padding: 40px 48px;
  margin-top: 150px;
  background-color: #FAF0E64D;
}

.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border: 2px solid #FAF0E6;
  border-radius: 20px;
  padding: 20px 28px;
  background-color: #FAF0E6;
  width: 100%;
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  text-align: left;

  h1 {
    margin: 0px;
    color: #1E5515;
    font-size: 42px;
  }
}

.cookingTime {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  font-weight: 500;
  color: #396039;
  gap: 8px;
}

.chefInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  font-weight: 500;
  color: #396039;
  gap: 8px;

  .chefIcons {
    display: flex;
    gap: 18px;
  }
}


.quickInfo {
  width: 44%;
  text-align: left;

  p {
    font-size: 16px;
    font-weight: 100;
    color: #396039;
    font-family: 'quicksandBoldOblique';
    margin-bottom: 10px;
    margin-top: 22px;
  }
}

.dietInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #396039;
    font-family: 'quicksandBold';
  }
}

.diet {
  padding: 6px 12px;
  border: 2px solid #39603933;
  border-radius: 12px;
  background-color: #39603933;
  width: fit-content;
  margin: 0px;
}

.nutritionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.dietSettings {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.recipeIngredients {
  div {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1E5515;
      font-size: 32px;
      margin-bottom: 16px;
      position: relative;
      bottom: 123px;
    }
  }
}


.ingredientsLists {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 120px;
  position: relative;
  bottom: 100px;

  h3 {
    color: #008000;
    font-size: 24px;
    margin-bottom: 12px;
    font-family: 'quicksandBold';

  }

  li {
    text-align: left;
    color: #10310B;
    font-size: 24px;
    font-family: 'quicksandBook';
  }
}


.recipeDirections {
  div {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1E5515;
      font-size: 32px;
      margin-bottom: 16px;
      position: relative;
      bottom: 104px;
    }
  }
}

.instructions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  position: relative;
  bottom: 80px;
  width: 1300px;
}

.group-card {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  width: 400px;

  .group-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 16px;

    img {
      margin: 0px;
    }

    h4 {
      margin: 0.5rem 0;
      color: #1E5515;
      font-size: 24px;
    }
  }

  p {
    font-size: 18px;
    margin: 4px;
    color: #10310B;
  }
}

.group-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.instruction-step {
  font-size: 0.9rem;
  text-align: left;
  margin-top: 0.25rem;
}

.likeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;

  p {
    margin: 0;
    font-family: 'quicksandBook';
  }

  p:nth-child(1) {
    font-size: 20px;
    color: #10310B;
    font-weight: 700;
  }

  p:nth-child(2) {
    font-size: 16px;
    color: #10310B;
    font-weight: 400;
  }

  img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}


.inspirationBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 100px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-color: #3960391A;
  margin-top: 16px;

  h2 {
    color: #1E5515;
    font-size: 24px;
    font-family: 'quicksandBold';
    margin: 0;
  }

  .cookbookBtn {
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    background-color: #1E5515;
    color: #FAF0E6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'quicksandBold';
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #379c28;
      transition: background-color 0.3s ease;
    }
  }
}