<div class="recipeContent">
  <img class="logo" src="../../assets/img/logoGreen.png">
  <div class="backButton" (click)="goBack()">
    <img src="../../assets/img/back.png">
    <p>Recipe results</p>
  </div>


  <div class="recipeBox" *ngIf="recipe; else notFound">

    <div class="recipeHeader">
      <div class="recipeInfo">
        <div class="cookingTime">
          <img src="../../assets/img/cookingTime.png">
          <p>Cooking time</p>
          <p> {{ recipe.total_time_minutes }} min
          </p>
        </div>
        <h1>{{ recipe.recipe_name }}</h1>
        <div class="chefInfo">
          <p>Cooking person:</p>
          <p>{{ recipe.helpers }}</p>
          <div class="chefIcons"></div>
        </div>
      </div>

      <div class="quickInfo">
        <div class="dietSettings">
          <p class="diet">{{ recipe.dietary_preferences }}</p>
        </div>
        <p>Nutritional information</p>
        <div class="dietInfo">
          <div class="nutritionItem">
            <p>Calories</p>
            <p>{{ recipe.nutrition.calories }} kcal</p>
          </div>
          <div class="nutritionItem">
            <p>Protein</p>
            <p>{{ recipe.nutrition.protein_g }} g</p>
          </div>
          <div class="nutritionItem">
            <p>Carbohydrates</p>
            <p>{{ recipe.nutrition.carbs_g }} g</p>
          </div>
          <div class="nutritionItem">
            <p>Fat</p>
            <p>{{ recipe.nutrition.fat_g }} g</p>
          </div>
        </div>
      </div>








    </div>
  </div>

  <ng-template #notFound>
    <p>Recipe not found.</p>
  </ng-template>
</div>