.cuisineGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 1700px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.cuisineCard {
  cursor: pointer;
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  transition: transform .2s;

  h3 {
    margin: 0;
    font-family: 'quicksandBold';
    color: #1e5515;
    font-size: 16px;
  }

  img {

    @media screen and (max-width: 1423px) {
      width: 20vw;
    }

        @media screen and (max-width: 1100px) {
      width: 320px;
    }
  }
}

.cuisineCard:hover {
  transform: scale(1.05);
}