.cuisineGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.cuisineCard {
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 14px;
  background-color: #dbe0dbb2;
  min-width: 150px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  h3 {
    margin: 0;
    font-family: 'quicksandBold';
    color: #1e5515;
    font-size: 16px;
  }

  p {
    margin: 0;
    font-size: 12px;
    color: #10310b;
  }
}
