.cookbookContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 0 50px;
    font-family: 'quicksandBook';
}

.cookbookHeader {
    padding: 20px 50px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    text-align: left;
    background-color: #3960390A;
    border-radius: 20px;
    gap: 32px;

    .textSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;

        h1 {
            font-family: 'quicksandBold';
            font-size: 64px;
            color: #1E5515;
            margin: 0px;
        }

        p {
            font-size: 24px;
            color: #10310B;
            font-weight: 500;
        }
    }
}

.favDishes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    width: 100%;

    .favDishesHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;

        p {
            font-family: 'quicksandBold';
            font-size: 24px;
            color: #1E5515;
        }

        img {
            width: 28px;
            height: 28px;
        }
    }
}