<div class="cookbookContent">
    <img (click)="goHome()" class="logo" src="assets/img/logoGreen.png" />

    <div class="backButton" (click)="goBackToResults()">
        <img src="assets/img/back.png" />
        <p>Back</p>
    </div>

    <div class="cookbookHeader">
        <div class="textSection">
            <h1>Cookbook</h1>
            <p>
                From quick bites to gourmet delights, explore them all in our
                ultimate cookbook and get inspired for your next culinary adventure.
            </p>
        </div>

        <div class="favDishes">
            <div class="favDishesHeader">
                <p>Most liked recipes</p>
                <img src="assets/img/like.png" />
            </div>

            <ng-container *ngIf="topRecipes$ | async as recipes; else loading">
                <div *ngIf="recipes.length === 0">
                    <p>No recipes in the cookbook yet.</p>
                    <a routerLink="/step1">Generate your first recipe</a>
                </div>

                <div class="recipe-grid-wrapper" *ngIf="recipes.length > 0">
                    <div class="recipe-grid">
                        <article (click)="openRecipe(r)" class="recipe-card" *ngFor="let r of recipes">
                            <div class="overviewHeader">
                                <div class="cookingTime">
                                    <img src="assets/img/cookingTime.png" />
                                    <p>Cooking time: {{ r.total_time_minutes }} min</p>
                                </div>

                                <div class="like">
                                    <img src="assets/img/like.png" />
                                    <p class="likes">{{ r.likes }}</p>
                                </div>
                            </div>

                            <h3>{{ r.recipe_name }}</h3>
                        </article>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>


    <app-cuisine></app-cuisine>

  <div class="backButtonRecipe" (click)="generateNewRecipe()">
    <p>Generate new recipie</p>
    <img src="../../assets/img/arrowGreen.png">
  </div>

</div>




<section class="top-liked">
    <ng-template #loading>
        <p>Loading recipes…</p>
    </ng-template>
</section>