<div class="listContent">
  <img class="logo" src="assets/img/logoGreen.png" />

  <div class="backButton" (click)="goBack()">
    <img src="assets/img/back.png" />
    <p>Cookbook</p>
  </div>

  <div class="btnWrapper">
    <button class="generateBtn">Generate a recipe</button>
  </div>
  <div class="header">
    <ng-container *ngIf="selectedCuisine as c">

      <img class="cuisineImage" [src]="c.listIcon" [alt]="c.label" />
      <h1 class="cuisineLabel">{{ c.label }}</h1>

    </ng-container>
  </div>



 <section class="recipeList" *ngIf="recipes$ | async as recipes">
    <p *ngIf="recipes.length === 0">
      No recipes for this cuisine yet.
    </p>

    <article class="recipeListItem" *ngFor="let r of recipes">
      <div class="recipeListHeader">
        <h3>{{ r.recipe_name }}</h3>
        <span>{{ r.total_time_minutes }} min</span>
      </div>
      <p class="recipeMeta">
        Likes: {{ r.likes }} · Helpers: {{ r.helpers }}
      </p>
    </article>
  </section>




</div>
