<div class="listContent">
  <img (click)="goHome()" class="logo" src="assets/img/logoGreen.png" />

  <div class="backButton" (click)="goToCookbook()">
    <img src="assets/img/back.png" />
    <p>Cookbook</p>
  </div>

  <div class="btnWrapper">
    <button (click)="generateNewRecipe()" class="generateBtn">
      Generate a recipe
    </button>
  </div>

  <div class="header">
    <ng-container *ngIf="selectedCuisine as c">
      <img class="cuisineImage" [src]="c.listIcon" [alt]="c.label" />
      <h1 class="cuisineLabel">{{ c.label }}</h1>
    </ng-container>
  </div>

  <section class="recipeList" *ngIf="recipes$ | async as recipes">
    <p *ngIf="recipes.length === 0">
      No recipes for this cuisine yet.
    </p>

    <article (click)="openRecipe(r)" class="recipeItem" *ngFor="let r of pagedRecipes; let i = index">
      <div class="itemNumber">
        <p>{{ (page - 1) * pageSize + i + 1 }}.</p>
      </div>

      <div class="itemHeader">
        <div class="itemTime">
          <img src="assets/img/cookingTime.png" />
          <p>Cooking time:</p>
          <span>{{ r.total_time_minutes }} min</span>
        </div>
        <h3>{{ r.recipe_name }}</h3>
      </div>

      <div class="itemInfo">
        <p class="diet">{{ r.dietary_preferences }}</p>
        <p class="time">{{ r.cook_time }}</p>

        <div class="likeBox">
          <img src="assets/img/like.png" />
          <p>{{ r.likes }}</p>
        </div>
      </div>
    </article>

    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="prevPage()" [disabled]="page === 1">
        &lt;
      </button>

      <button
        class="pageButton"
        *ngFor="let p of pages"
        [class.active]="p === page"
        (click)="goToPage(p)"
      >
        {{ p }}
      </button>

      <button (click)="nextPage()" [disabled]="page === totalPages">
        &gt;
      </button>
    </div>
  </section>
</div>
