.homeContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    flex-direction: row;
    height: 100dvh;
    text-align: center;
    gap: 16px;
    padding: 0 50px;
}

.textSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: 'quicksandBold';
    gap: 32vh;
    flex: 1;
}

.homeHeadline {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0px;
}

h1 {
    font-size: 104px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0px;
}

.startBtn {
    margin-top: 20px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FAF0E6;
    color: #1E5515;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'quicksandBold';
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e0d6c652;
        transition: background-color 0.3s ease;
    }
}

.bottomTextSection {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 40px;

    p {
        font-size: 32px;
        font-weight: 500;
        line-height: 104%;
        margin: 0px;
    }

    .cookbookArrowWrapper {
        transition: background-color 0.3s ease;

        a {
            font-size: 20px;
            font-weight: 400;
            line-height: 180%;
            text-decoration: none;
            color: inherit;
            font-family: 'quicksandLight';
            padding: 0px 20px;
        }

        img {
            width: 24px;
            margin-left: 8px;
            transition: transform 0.3s ease;
        }

        &:hover {
            background-color: #e0d6c652;
            transition: background-color 0.3s ease;

            img {
                transform: translateX(4px);
                transition: transform 0.3s ease;
            }
        }
    }
}

.plates {
    height: 100dvh;
    width: auto;
    object-fit: contain;
    align-self: stretch;
}