<div class="homeContent">
    <img class="logo" src="../../assets/img/logoWhite.png">
    <div class="textSection">
        <div class="homeHeadline">
            <h2>AI-Powered recipe generator</h2>
            <h1>Code a Cuisine</h1>
            <button class="startBtn" routerLink="/step1">Get started</button>
        </div>
        <div class="bottomTextSection">
            <p>Hungry for inspiration?</p>
            <div class="cookbookArrowWrapper">
                <a routerLink="/cookbook">Go to cookbook <img src="../../assets/img/arrow.png">
                </a>
            </div>
        </div>
    </div>
    <img class="plates" src="../../assets/img/plates.png">
</div>